{% extends 'base.html' %}

{% block content %}
    <div class="container" style="padding: 50px;">
        {% if user.is_authenticated %}
        <h2 class="text-center">Automate Boring Stuff with Django</h2>
        <div class="row pt-5 g-4">
            <!-- Import data -->
            <div class="col-md-4">
                <a href="{% url 'import_data' %}" class="text-decoration-none text-dark">
                    <div class="card alert-primary shadow">
                        <div class="card-header">
                            <h4>Import Data</h4>
                        </div>

                        <div class="card-body">
                            <p class="card-text">Imports data from a CSV file to any table</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Export data -->
            <div class="col-md-4">
                <a href="{% url 'export_data' %}" class="text-decoration-none text-dark">
                    <div class="card alert-success shadow">
                        <div class="card-header">
                            <h4>Export Data</h4>
                        </div>

                        <div class="card-body">
                            <p class="card-text">Exports data to specific CSV file</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Bulk emails -->
            <div class="col-md-4">
                <a href="{% url 'send_email' %}" class="text-decoration-none text-dark">
                    <div class="card alert-danger shadow">
                        <div class="card-header">
                            <h4>Bulk Emails</h4>
                        </div>

                        <div class="card-body">
                            <p class="card-text">Sends bulk emails to users</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Email tracking -->
            <div class="col-md-4">
                <a href="{% url 'track_dashboard' %}" class="text-decoration-none text-dark">
                    <div class="card alert-warning shadow">
                        <div class="card-header">
                            <h4>Email Tracking</h4>
                        </div>

                        <div class="card-body">
                            <p class="card-text">Tracks emails and shows open and click rate</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Compress images -->
            <div class="col-md-4">
                <a href="{% url 'compress' %}" class="text-decoration-none text-dark">
                    <div class="card alert-danger shadow">
                        <div class="card-header">
                            <h4>Compress Images</h4>
                        </div>

                        <div class="card-body">
                            <p class="card-text">Compresses image files and reduces the size</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Web Scraping -->
            <div class="col-md-4">
                <a href="{% url 'export_data' %}" class="text-decoration-none text-dark">
                    <div class="card alert-warning shadow">
                        <div class="card-header">
                            <h4>Web Scraping</h4>
                        </div>

                        <div class="card-body">
                            <p class="card-text">Scraps websites for useful information</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        {% else %}
        <div class="home-info">
            <h2 class="text-center mb-4">Automate the Boring Stuff with Django</h2>
            <p class="lead text-center text-muted">
                From importing and exporting data to processing files and handling repetitive workflows, this platform helps you automate tasks that would otherwise require manual effort.
    
                <b>Let the computer handle the boring stuff. You focus on the work that matters.
                <br>
                Ready to automate?</b>
                <br>

                Create an account or log in to access the automation tools and start simplifying your everyday tasks.

                Get started today and let automation do the boring work for you.
            </p>
            <div style="display: flex; justify-content: center;">
                <a href="{% url 'login' %}" class="btn btn-primary">LOGIN</a>
                &nbsp;
                <a href="{% url 'register' %}" class="btn btn-success">REGISTER</a>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock content %}